subscription_id     = "REPLACE_WITH_SUBSCRIPTION_ID"
tenant_id           = "REPLACE_WITH_TENANT_ID"
location            = "uksouth"
environment         = "production"
workload_name       = "contoso-web"
unique_suffix       = "prd001"
resource_group_name = "rg-contoso-web-production"
deployment_model    = "app_service"

application_gateway_private_ip               = "10.23.1.10"
application_gateway_certificate_secret_id    = "https://kv-platform.vault.azure.net/secrets/contoso-web-production-tls"
application_gateway_certificate_key_vault_id = "/subscriptions/REPLACE_WITH_SUBSCRIPTION_ID/resourceGroups/rg-platform/providers/Microsoft.KeyVault/vaults/kv-platform"

entra_sql_admin = {
  login_username = "contoso-sql-administrators"
  object_id      = "REPLACE_WITH_SQL_ADMIN_OBJECT_ID"
}

network = {
  virtual_network_id               = "/subscriptions/.../virtualNetworks/vnet-production"
  application_gateway_subnet_id    = "/subscriptions/.../subnets/snet-appgw"
  app_service_subnet_id            = "/subscriptions/.../subnets/snet-appservice"
  vmss_subnet_id                   = "/subscriptions/.../subnets/snet-vmss"
  private_endpoint_subnet_id       = "/subscriptions/.../subnets/snet-private-endpoints"
  application_gateway_public_ip_id = "/subscriptions/.../publicIPAddresses/pip-appgw"
  network_security_group_ids       = { app = "/subscriptions/.../networkSecurityGroups/nsg-app" }
  route_table_ids                  = { app = "/subscriptions/.../routeTables/rt-app" }
  azure_monitor_private_link_scope_id = "/subscriptions/.../resourceGroups/rg-monitoring/providers/Microsoft.Insights/privateLinkScopes/ampls-platform"
  private_dns_zone_ids = {
    app_service  = "/subscriptions/.../privateDnsZones/privatelink.azurewebsites.net"
    key_vault    = "/subscriptions/.../privateDnsZones/privatelink.vaultcore.azure.net"
    sql_server   = "/subscriptions/.../privateDnsZones/privatelink.database.windows.net"
    storage_blob = "/subscriptions/.../privateDnsZones/privatelink.blob.core.windows.net"
  }
}

alert_email_receivers = {
  operations = {
    name  = "cloud-operations"
    email = "cloud-operations@example.com"
  }
}

tags = {
  owner       = "application-team"
  cost-center = "cc-1000"
  criticality = "high"
}
