subscription_id    = "REPLACE_WITH_SUBSCRIPTION_ID"
tenant_id          = "REPLACE_WITH_TENANT_ID"
location           = "uksouth"
environment        = "development"
workload_name      = "contoso-web"
unique_suffix      = "dev001"
resource_group_name = "rg-contoso-web-development"
deployment_model   = "app_service"

application_gateway_private_ip            = "10.20.1.10"
application_gateway_certificate_secret_id = "https://kv-platform.vault.azure.net/secrets/contoso-web-tls"
application_gateway_certificate_key_vault_id = "/subscriptions/REPLACE_WITH_SUBSCRIPTION_ID/resourceGroups/rg-platform/providers/Microsoft.KeyVault/vaults/kv-platform"

entra_sql_admin = {
  login_username = "contoso-sql-administrators"
  object_id      = "REPLACE_WITH_SQL_ADMIN_OBJECT_ID"
}

network = {
  virtual_network_id                  = "/subscriptions/REPLACE_WITH_SUBSCRIPTION_ID/resourceGroups/rg-network/providers/Microsoft.Network/virtualNetworks/vnet-platform"
  application_gateway_subnet_id       = "/subscriptions/REPLACE_WITH_SUBSCRIPTION_ID/resourceGroups/rg-network/providers/Microsoft.Network/virtualNetworks/vnet-platform/subnets/snet-appgw"
  app_service_subnet_id               = "/subscriptions/REPLACE_WITH_SUBSCRIPTION_ID/resourceGroups/rg-network/providers/Microsoft.Network/virtualNetworks/vnet-platform/subnets/snet-appservice"
  vmss_subnet_id                      = "/subscriptions/REPLACE_WITH_SUBSCRIPTION_ID/resourceGroups/rg-network/providers/Microsoft.Network/virtualNetworks/vnet-platform/subnets/snet-vmss"
  private_endpoint_subnet_id          = "/subscriptions/REPLACE_WITH_SUBSCRIPTION_ID/resourceGroups/rg-network/providers/Microsoft.Network/virtualNetworks/vnet-platform/subnets/snet-private-endpoints"
  application_gateway_public_ip_id    = null
  network_security_group_ids          = { app = "/subscriptions/.../networkSecurityGroups/nsg-app" }
  route_table_ids                     = { app = "/subscriptions/.../routeTables/rt-app" }
  azure_monitor_private_link_scope_id = "/subscriptions/.../resourceGroups/rg-monitoring/providers/Microsoft.Insights/privateLinkScopes/ampls-platform"
  private_dns_zone_ids = {
    app_service  = "/subscriptions/.../privateDnsZones/privatelink.azurewebsites.net"
    key_vault    = "/subscriptions/.../privateDnsZones/privatelink.vaultcore.azure.net"
    sql_server   = "/subscriptions/.../privateDnsZones/privatelink.database.windows.net"
    storage_blob = "/subscriptions/.../privateDnsZones/privatelink.blob.core.windows.net"
  }
}

tags = {
  owner       = "application-team"
  cost-center = "cc-1000"
}
